#root {
    background-color: aquamarine;

    color: #3535ec;

    height: 100vh;
}

#messageDiv {
    height: 80%;
}

footer {
    height: 20%;
    display: flex;
    align-items: flex-end;

    text-align: end;
    color: black;
}